@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.img-fluid {
  width: 200px;
}

.btn-custom {
  color: white;
  background-color: tomato;
}

.btn-custom:hover{
  color: white;
}

.service-img {
  width: 400px;
}

.fa {
  margin: 5px;
  font-size: 25px;
}